table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
}

th, td {
  border: 2px solid #333;
  padding: 10px;
}


.horario th {
  background-color: #4CAF50;
  color: white;
}


.futebol th {
  background-color: #007BFF;
  color: white;
}

.futebol td:nth-child(2) {
  font-weight: bold;
  color: blue; 
}


.vencedor {
  background-color: #FFD700; 
}


.catalogo {
  border: 3px solid #000; 
}

.catalogo th {
  background-color: #FF5722;
  color: white;
}

.catalogo img {
  display: block;
  margin: auto; 
}
